/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Slab:wght@300&display=swap');


/* Variables */

$font_family-primary: 'Poppins', Arial, sans-serif;
$font_family-secondary: 'Roboto Slab', Times, serif;

$font_size-base: 16px;
$font_size-xsmall: .875rem; // 14px
$font_size-small: 1rem;     // 16px
$font_size-large: 2rem;     // 32px
$font_size-xlarge: 3rem;    // 48px


/* Extends */

._vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

._primary-font {
    font-family: $font_family-primary;
    font-weight: 600;
}

._secondary-font {
    font-family: $font_family-secondary;
    font-weight: 300;
}


/* Globals */

* {
    position: relative;
    box-sizing: border-box;
}

html, body {
    @extend ._secondary-font;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-size: $font_size-base;

    overflow: hidden;
}

a {
    @extend ._secondary-font;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
